[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.6.0"
autopep8 = "==1.5.4"
mypy = "==0.782"

[packages]
pyperclip = ">=1.5.27"
click = "==7.1.2"
