[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.5.3"
autopep8 = "==1.5.3"

[packages]
mypy = "==0.782"
pyperclip = ">=1.5.27"
click = "==7.1.2"
